#home header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--azul3);
    padding: 1em;
}
#home nav{
    background-color: var(--azul3) !important;
}
#home nav button {
    background-color: var(--azul1);
}
#home h1 {
    color: var(--branco);
}
#home h2 {
    font-size: 2em;
}
#home #logo-dg {
    width: 5em;
}
#home .card-acao {
    color: var(--azul3);
    background-color: var(--azul2);
    width: 30vw;
    max-width: 20rem;
    min-width: 18rem;
}
#home .acao-title {
    font-size: 1.4em;
}
/* #home .card img {
    border: 10px solid var(--azul3);
} */
#home .descricao {
    color: var(--branco) !important;
}
#home #rodape {
    display: flex;
    justify-content: end;
}
#home .back-top {
    margin-left: 100%;
}
#home .back-top:hover {
    background-color: var(--azul3) !important;
}