:root {
    --primaria: #ffffff;
    --secundaria: #3a80e6;
    --tres: #e6eef8;
    --quatro: #2b3a55;
    --cinco: #00b3c6;
}

thead {
    border-collapse: collapse !important;
    
}
th {
    background-color: var(--secundaria) !important;
    border-color: #ffffff !important;
    color: #fff !important;
}

.table-hover tbody tr:hover td{
    background-color: var(--tres) !important;
}

.btn {
    background-color: var(--quatro);
    border: 2px solid transparent;
}

.btn:hover {
    background-color: var(--quatro);
    border: 2px solid var(--tres);
}

.btn:active {
    background-color: var(--secundaria) !important;
    border: 2px solid var(--tres) !important;
}

.i-check {
    display: flex;
    align-items: center;
}
#box {
    margin: 0px 16px 0px 6px;
    transform: scale(1.2);
}

#qtd-sel {
    display: inline;
    align-self: center;
    color: var(--primaria) !important;
    background-color: var(--quatro) !important;
    border-radius: 6px;
    padding: 1%;
    width: 5%;
    max-width: 50px;
    max-height: 50px;
}