:root {
    --branco: #ffffff;
    --azul1: #3a80e6;
    --azul2: #e6eef8;
    --azul3: #2b3a55;
    --azul4: #00b3c6;
    --cinza1: #666;
    --cinza2: #444;
}
h1 {
    color: var(--azul3);
    font-size: 2em;
}
h2 {
    color: var(--azul3);
    font-size: 1.5em;
}
h3 {
    color: var(--azul3);
    font-size: 1.3em;
}
.btn {
    color: var(--branco);
    background-color: var(--azul1);
    border: 2px solid var(--azul1);
}
.btn:hover {
    color: var(--azul3);
    background-color: var(--branco) !important;
    border: 2px solid var(--azul3);
}
.btn:active {
    background-color: var(--azul1) !important;
    border: 2px solid var(--azul2) !important;
}
.back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #666;
    font-Size: 20px;
    margin:6px;
}

/* HOME */
#home nav{
    background-color: var(--azul3) !important;
}
#home h1 {
    color: var(--branco);
}
#logo-dg {
    width: 5em;
}
#rodape {
    display: flex;
    justify-content: end;
}
#back-top {
    margin-left: 100%;
}
#home nav button {
    background-color: var(--azul1);
}

/* LISTA DE DOADORES */
thead {
    border-collapse: collapse !important;
    
}
th {
    background-color: var(--azul1) !important;
    border-color: #ffffff !important;
    color: #fff !important;
}
.table-hover tbody tr:hover td{
    background-color: var(--azul2) !important;
}
#lista-doadores .btn {
    background-color: var(--azul3);
    border: 2px solid #2b3a55;
}
#lista-doadores .btn:hover {
    color: var(--branco);
    border: 2px solid var(--branco);
    background-color: var(--azul3) !important;
}
.i-check {
    display: flex;
    align-items: center;
}
#box {
    margin: 0px 16px 0px 6px;
    transform: scale(1.2);
}
#qtd-sel {
    display: inline;
    align-self: center;
    color: var(--primaria) !important;
    background-color: var(--azul3) !important;
    border-radius: 6px;
    padding: 1%;
    width: 5%;
    max-width: 50px;
    max-height: 50px;
}
#btn-cancel {
    width: 52px;
}

/* FICHA DO DOADOR */
#info header {
    display: flex;
    align-items: center;
}
.card {
    background-color: var(--azul2);
    border: 1px solid var(--primaria);
    padding: 2.5em;
    border-radius: 5px;
    margin-top: 15px;
    width: fit-content;
}

#card-id {
    color: var(--cinza1);
    font-size: .9em;
}
.card hr {
    color: var(--azul3);
}
.card-info h3 {
    color: var(--azul3);
    font-size: 1.3em;
}
.card p {
    color: var(--cinza2);
}
.card-btn {
    display: flex;
    gap: 1em;
    justify-content: center;
}
.card button {
    color: var(--branco);
    background-color: var(--azul1);
}
.card button:hover {
    background-color: var(--branco);
    border-color: var(--azul3);
}
select {
    padding: 1.5px;
    color: var(--azul3);
    background-color: transparent;
    cursor: pointer;
    transition: .2s ease;
}

#info form {
    background-color: var(--azul2);
    padding: 30px;
}

/* CADASTRO */
#cadastro form {
    font-size: 1.1em;
    font-weight: 600;
    background-color: var(--azul2);
    padding: 30px;
    max-width: 22em;
}