:root {
    --branco: #ffffff;
    --azul1: #3a80e6;
    --azul2: #e6eef8;
    --azul3: #2b3a55;
    --azul4: #00b3c6;
    --cinza1: #666;
    --cinza2: #444;
}
h1 {
    color: var(--azul3);
    font-size: 2em;
}
h2 {
    color: var(--azul3);
    font-size: 1.5em;
}
h3 {
    color: var(--azul3);
    font-size: 1.3em;
}
.btn {
    color: var(--branco);
    background-color: var(--azul1);
    border: 2px solid var(--azul1);
}
.btn:hover {
    color: var(--azul3);
    background-color: var(--branco) !important;
    border: 2px solid var(--azul3);
}
.btn:active {
    background-color: var(--azul1) !important;
    border: 2px solid var(--azul2) !important;
}
.back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #666;
    font-Size: 20px;
    margin:6px;
}